@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-image: url("../img/1920x1080@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.caixa-de-login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #202024;
    border: 1px solid #70707040;
    border-radius: 8px;
    width: 423px;
    height: 378px;
    padding: 40px 0px;
    margin: 0px 30px;
}

.caixa-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #121214;
    border-radius: 5px;
    width: 90%;
    height: 51px;
    margin: 10px 0px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.img-input-cadeado {
    width: 14px;
    height: 18px;
    margin: 0px 10px;
}

.img-input-carta {
    width: 17px;
    height: 15px;
    margin: 0px 10px;
}

input {
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: max(14px, 0.7vw);
    background-color: #121214;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea:focus, input:focus {
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    background-color: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.caixa-recuperacao {
    width: 88%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    color: #6BCECC;
    font-size: 14px;
    font-weight: 600;
}

.caixa-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 50px;
}

button {
    background-color: #6BCECC;
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 45px;
    font-size: max(12px, 0.5vw);
    cursor: pointer;
}

.caixa-texto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 423px;
    height: 378px;
    padding: 40px 0px;
}

h1 {
    color: #ECECEC;
    font-size: 60px;
}

.caixa-logo {
    width: 263px;
    height: 68px;
}

.img-logo {
    width: 100%;
    height: 100%;
}

@media (max-width: 788px) {

    main {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media (max-width: 472px) {

    .caixa-de-login {
        width: 90%;
    }

    .caixa-texto {
        width: 90%;
    }

    .caixa-logo {
        width: 213px;
        height: 58px;
    }

    h1 {
        font-size: 44px;
    }

}

@media (max-width: 274px) {

    main {
        width: 98%;
    }

    .caixa-texto {
        height: 40%;
    }

    h1 {
        font-size: max(12px, 13vw);
    }

    .caixa-logo {
        display: none;
    }

}